
.facility-minerals {
    display: flex;
    justify-content: space-evenly;
    border: 1px dashed royalblue;
    padding: 4rem;
    margin: 0.5rem 0;
    font-size: smaller;
    flex-direction: column
}


.space-shop {
    display: flex;
    justify-content: space-evenly;
    border: 1px dashed purple;
    padding: 4rem;
    margin: 0.5rem 0;
    font-size: smaller;
    flex-direction: column;
}

.shop-minerals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: center;
}


.colony-minerals {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto; /* Center it horizontally */
    margin-bottom: auto;
    max-width: 80%; /* Limit the width to 80% of the container */
}

#purchaseMinerals {
    display: flex;
    justify-content: center
}
.mineralRadioButtons {
    display: flex;
}

.purchasePreview {
    display: flex;
    justify-content:center;
    
}
.headerPreview {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
